h1 {
    font-size: 6em;
    font-family: 'Times New Roman', Times, serif;
}

.data {
    font-weight: normal;
} 

img {
    height: 50px;
    width: 50px;
    
}

.col-vazia {
    background-color: #f9943b;
    position: relative;
    margin: auto;
    bottom: 10%;
    left: 15%;
    height: 400px;
    width: 300px;
}

.invisivel {
    visibility: hidden;
}

.imagem-principal {
    height: 300px;
    width: 650px;
}

.conteudo-principal {
    background-image: linear-gradient(to right, black 90%, #f9943b 10%);
    position: relative;
    top: -450px;
    
    
}

h2 {
    margin-left: 330px;
    position: relative;
    top: -450px;
}

.paragrafo-secundario {
    text-align: justify;
    margin-left: 330px;
    font-size: 10pt;
    position: relative;
    top: -450px;
}

.caixa-preta {
    height: 30px;
    width: 900px;
    position: relative;
    top: -450px;
}

.creditos {
    position: relative;
    top: -450px;
}